html, body {
    margin: 0em;
    padding: 0em;
    border: 0em;
    /* width: 100%; */
}




/* Header ---------------------------------------------------------- */
#headerRunner {
    /* display: flex; */
    /* justify-content: center; */

    /* padding-left: -15px; */
    /* padding-right: -15px; */

    position: -webkit-sticky;
    /* Safari */
    position: static;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;  
    
    background-color:rgba(185,11,71,0.9);
}


header {
    line-height: 4.28571em;

}

.main-header {
    height: 5em;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0;
    color: #fff;
    z-index: 11111;
    border: none;
    box-shadow: none;

    column-count: 3;
}






/*Logo Within Element*/
#logo {
  
    max-width: 16.57143em;
    vertical-align: middle;


    box-sizing: border-box;
    
}

#AmericanGirl {
    /* the div element holding the photo is  */
    display: inline-block;
}


/* Far right icons in header */
#far-right {
    display: flex;
}

.search-container {
    position: relative;
    padding-right: 10px;
    padding-left: 55px;
}

.user-info-in-header {
    padding: 0 0 0 33px;
    margin-left: 0;
    top: 0;
    font-size: 16px;
}

.fa-user-circle {
    vertical-align: middle;
    background-size: 100% 100%;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

#shopping-bag {
    position: relative;
    padding-right: 10px;
    padding-left: 55px;
    text-decoration: none;
}



/* Side Navigation--------------------------------------------------*/

/* The entire side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    display: inline-block;

  }

#aghamburger {
    width: auto;
    padding-right: 10px;
    font-size: 12px;
    outline: none;
    border: none;

}

.ham-menu-divider {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* First Div that contains the home and close button */
  #spark-menu-close-button {
    background: 0 0;
    border: none;
    
}



#home-exit {
    padding-top: 17.633px;
    padding-bottom: 17.633px;
    padding-left: 30.122px;
    padding-right: 30.122px;

    font-size: 25px;
    display: flex;

    display: block;
    transition: 0.5s;
} 

#homeButton {
    float: left;
}


#spark-menu-close-button {
    font-weight: 900;
    font-size: 25px;
    flex: auto;
    float: right;
}


  
/* The second div element */
#secondDiv {
    padding-top: 1.28571em;
    padding-right: 2.5em;
    padding-bottom: 1.28571em;
    padding-left: 2.5em;
}

  /* .sidenav a {
    padding: 7.5px 0px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    display: block;
    transition: 0.3s;

    font: 600 1em "Source Sans Pro",sans-serif;
  } */

.sideSections {
    padding: 7.5px 0px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;

    font: 600 1em "Source Sans Pro",sans-serif;
}  
  
.sidenav a:hover {
    color: #c70a4c;
  }
  


li {
    list-style-type: none;
}

#star {
    /* width: 20px; */
    height: 20px;
}

.social-icons {
    display: flex;
}

.iconOutline {
    text-align: center;
    
    width: 2em;
    height: 2em;
    border-radius: 50%; 
    border: 1px solid #666;
        border-top-color: rgb(102, 102, 102);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(102, 102, 102);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(102, 102, 102);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(102, 102, 102);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.17143em;

    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;

    font: 600 1em "Source Sans Pro",sans-serif;
    
} 




/*Shipping Carousel -------------------------------------------------*/
#shippingStatement {
    background-color: rgb(136, 6, 78);
    margin: 0em;
    height: 3em;
    width: 100vw;

    color: white;
    text-align: center;
    width: 100%;
    
}

#home-exit i {
     display: block;
     /* text-align: left; */

}



/* Shopping Navigation ----------------------------------------------*/
.bb-shop-nav-container {
    display: flex;
  
    
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;

    min-width: 801px;


    
}

 .bb-shop-nav-container {
    position: relative;
    z-index: -1000;
    background-color: #fff;

    border-top: 1px solid #cacaca;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: rgb(202, 202, 202);
        
    border-bottom: 1px solid #cacaca;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(202, 202, 202);    

}
 
.photoSection {
    position: relative;
    color: #333;
    font-weight: 400;

    margin: 0 auto .35714em;
    font: 300 1em "Source Sans Pro",sans-serif;
}


.bb-shop-nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bb-shop-nav-icon img {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: -25px;
    margin-left: 20px;
    max-width: 95px;
  
}

img {
    vertical-align: middle;
}

 /* First Page---------------------------------------------------- */
#shopNow {
    width: 100vw;
}

#timeline {
    width: 100%;
    height: calc(100vh - 0px);
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    border: 0em;

}
 
 /* Second Page -----------------------------------------------------*/
 #petPhoto {
    background-image: url(./assets/ag-site-jumbo-pets3-xl.jpg);
    background-size: cover;
    height: 100vh;
 }

 .shadowBox {
     display: inline-block;
     margin-right: 25%;
     margin-left: 60%;
     margin-top: 10%
     fil
 }

 .WonderlandFun {
     color: white;
     font-size: 50px;
     text-align: center;
     margin: 0;
 }

 .ExploreSight {
     color: white;
 }

 .twoButton {
     outline: none;
     text-align: center;
     border: white;
     margin: 10%;
     border-radius: 5px;
     padding-top: 3%;
     padding-bottom: 3%;
     padding-left: 5%;
     padding-right: 5%;
 }

